.app-bar {
    position: relative;
    width: 100%;
    z-index: 99;

    .app-bar-title {
        font-weight: 100 !important;
        padding: 10px;
        flex-grow: 1;
        line-height: 90% !important;
    }

    .tab-bar {
        margin: auto;

        .tab-selected {
            color: secondary !important;
        }

        .tab-buttons {
            width: 150px;
        }
    }
}

.app-bar.big {
    height: 200px;
    transition: font-size 0.5s;
    transition: height 0.5s;
}

.app-bar.small {
    flex-direction: row;
    height: 54px;
    transition: height 0.5s;

    .app-bar-title {
        line-height: 80% !important;
        font-size: 40px;
        transition: font-size 0.5s;
    }

    .tab-bar {
        margin: unset;
        transition: margin 0.5s;

        .tabs-flex-container {
            transition: height 0.5s;
            height: 100%;
        }
    }
}

.content-container {
    padding: 10px;
}

.view-container {
    padding: 10px;
}