@import './app-containers/auth/login/login.form.scss';

body {
    padding-top: 64px;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "appbartitle appbartitle appbartitle"
        "appbartabs appbartabs appbartabs"
        "main main main";

    .app-bar-title {
        position: relative;
        width: 100%;
        z-index: 99;

        .toolbar {
            flex-grow: 1;

            .app-bar-title {
                font-weight: 100 !important;
                line-height: 90% !important;
                flex-grow: 1;
            }

            .menu-button {
                fill: whitesmoke;
                flex-grow: 1;
            }
        }
    }

    .gridarea {
        grid-area: appbartitle;
        transition: grid-area 5s;
    }

    .fixed {
        position: fixed;
        top: 0;
        width: 100%;
        transition: position 5s;
    }

    .app-bar-tabs {
        grid-area: appbartabs;
        .tab-bar {
            margin: auto;

            .tab-selected {
                color: secondary;
            }

            .tab-buttons {
                width: 150px;
            }
        }
    }

    .main-container {
        grid-area: main;
        background: whitesmoke;
        padding: 10px;
        margin: 20px 60px;
        height: 1000px;
    }
}

.section-sep {
    width: 100%;
    height: 200px;
    position: relative;
}